
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
.header
{
    background-color: rgb(85, 82, 82);
    margin: 0;
    padding: 10px;
    height: 35vh;
    width: 209vh;
    box-sizing: border-box;
    border-color: black;
    box-sizing: border-box;
}
/* *
{
    margin: 0;
} */
.list:hover
{
    /*color: brown;*/
    align-self: center;
    align-items: center;
    
}
.list
{
    align-items: stretch;
    display:flex;
    flex-direction: row;
    text-decoration: double;
    text-decoration-color: blanchedalmond;
    text-underline-offset:inherit;
    padding: 1px;
    justify-content: center;
    justify-content: space-between;
    font-family:monospace;
    font-size: 30px;
    font-weight: 100;
    color: beige;
    cursor: pointer;
}
#home:hover
{
    border-color: cadetblue;
    border-radius: 5px;
    color: brown;
    margin: 5px;
}
.navList
{
    display: flex;
    flex-direction: right;
    list-style: none;
    justify-content: space-evenly;
    margin-left: 30vh;
}
.navList > li
{
    padding: 30px;
   
}
.navBar
{
    animation:both;
    animation-duration: 1ms;
    display: flex;
    flex-grow: inherit;
    text-emphasis-color: red;
    width: 100vh;
    margin:0;
   
}
.heading
{
    font-family: 'Cedarville Cursive','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    margin-left: 800px;
    font-size: 50px;
}
.container
{   
    padding: 0%;
    margin-left: 10px;
    width: 150vh;
    display: flex;
    flex-direction: row wrap;
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    border-color: black;
}
.article2
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 50vh;
    padding: 10vh;
    margin-right: 0vh;
    margin-left: 0vh;
    min-width: 80vh;
    background-image: url("/images/left-img.jpg");
 
}
.article
{
    /* margin:auto; */
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    justify-content: space-between;
    padding: 10vh;
    min-width: 85vh;
    background-image: url("/images/right-img.jpg");
}
.article2 > h1
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:solid;
    text-align: center;
    font-size: large;
    text-decoration-color: rgb(8, 8, 104);
    text-decoration-thickness: 5px;
    color: aliceblue;
    text-decoration-line: underline;
}
.article > h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:solid;
    text-align: center;
    font-size: large;
    text-decoration-color: rgb(8, 8, 104);
    text-decoration-thickness: 5px;
    color: aliceblue;
    text-decoration-line: underline;   
}
.article > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: xx-large;
  
    text-decoration-thickness: 5px;
    color: aliceblue;

}
.article2 > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center;
    font-size: xx-large;
  
    text-decoration-thickness: 5px;
    color: aliceblue;

}
.button
{
    width: 30vh;
    height: 8vh;
    color: aliceblue;
    background-color: rgb(2, 2, 63);
    align-self: center;
    font-family: monospace;
    font-size: 30px;
}