
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap');
.header
{
    background-color: rgb(85, 82, 82);
    margin: 0;
    padding: 10px;
    height: 35vh;
    width: 209vh;
    box-sizing: border-box;
    border-color: black;
    box-sizing: border-box;
}
*
{
    margin: 0;
}
.list:hover
{
    /*color: brown;*/
    align-self: center;
    align-items: center;
    
}
.list
{
    align-items: stretch;
    display:flex;
    flex-direction: row;
    text-decoration: double;
    text-decoration-color: blanchedalmond;
    text-underline-offset:inherit;
    padding: 1px;
    justify-content: center;
    justify-content: space-between;
    font-family:monospace;
    font-size: 30px;
    font-weight: 100;
    color: beige;
    cursor: pointer;
}
 svg:first-child 
{
    margin-left: 10px;
    fill: white;
    position: relative;
    top: 30px;
    left: 220px;
}
svg:hover{
    fill:black
}
#home:hover
{
    border-color: cadetblue;
    border-radius: 5px;
    color: brown;
    margin: 5px;
}
.navList
{
    display: flex;
    flex-direction: right;
    list-style: none;
    justify-content: space-evenly;
    margin-left: 30vh;
    position: relative;
    top: 20px;
    left: 120px;
}
.navList :hover
{
    color: black;
}
.navList > li
{
    padding: 30px;
   
}
.navBar
{
    animation:both;
    animation-duration: 1ms;
    display: flex;
    flex-grow: inherit;
    text-emphasis-color: red;
    width: 100vh;
    margin:0;
   
}
.heading
{
    font-family: 'Recursive','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    margin-left: 800px;
    font-size: 50px;
}
.container
{   
    padding: 0%;
    margin-left: 10px;
    width: 150vh;
    display: flex;
    flex-direction: row wrap;
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    border-color: black;
}
.article2
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 50vh;
    padding: 10vh;
    margin-right: 0vh;
    margin-left: 0vh;
    min-width: 80vh;
    background-image: url("/images/left-img.jpg");
 
}
.article
{
    /* margin:auto; */
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    justify-content: space-between;
    padding: 10vh;
    min-width: 85vh;
    background-image: url("/images/right-img.jpg");
}
.article2 > h1
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:solid;
    text-align: center;
    font-size: xx-large;
    text-decoration-color: rgb(8, 8, 104);
    text-decoration-thickness: 5px;
    color: aliceblue;
    text-decoration-line: underline;
    text-underline-offset: 30px;
}
.article > h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:solid;
    text-align: center;
    font-size: xx-large;
    text-decoration-color: rgb(8, 8, 104);
    text-decoration-thickness: 5px;
    color: aliceblue;
    text-decoration-line: underline; 
    text-underline-offset: 30px;  
}
.article > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 53px;
  
    text-decoration-thickness: 5px;
    color: aliceblue;

}
.article2 > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center;
    font-size: 53px;
  
    text-decoration-thickness: 5px;
    color: aliceblue;

}
.button
{
    width: 30vh;
    height: 8vh;
    color: aliceblue;
    background-color: rgb(2, 2, 63);
    align-self: center;
    font-family: monospace;
    font-size: 30px;
    cursor: pointer;
}
.picContainer
{
    display: flex;
    margin-left: 10px;
    margin-bottom: 80px;
}
.Id1, .Id2,.Id3,.Id4
{
   
    width: 430px;
    height: 250px;
    margin: 5px;

    overflow: hidden;
}
.Id1
{
    background-image: url("/images/ar-left.png");
}
.Id2
{
    position: relative;
    image-resolution: 250px 430px;
}
.Id2 > h1{
    position: relative;
    top: 10px;
    left: 20px;
    font-family: monospace;
    font-size: larger;
}
.Id3
{
    background-image: url("/images/ar-left.png");
}
.Frame > iframe
{
    border: 2px solid black;
    height: 60vh;
    width: 70vw;
    position: relative;
    left: 250px;
    top:25px;
    margin-bottom: 200px;
    margin: auto;
}
hr
{
   
        width: 90vw;
        height: 2px;
        background-color: #000; /* Black color */
        margin: 40px;
        display: inline-block;
    
}
section
{
    margin-left: 68px;
}
article
{
    display: flex;
    justify-content: center;
}
.article1
{   display: flex;
    text-overflow: auto;
    overflow: hidden;
    justify-content: flex-start;
    width: 56vw;
    height: 50vh;
    margin-right: 70px;

}

.start
{
    text-overflow: hidden;
    width:  37%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10%;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    position: relative;
    padding: 22px;
    top: 2px;
    left: 140px;
    background-color:  #f7f7f7;
};
.tab
{
    background-image: url("/images/gallery-img2.jpg");
    width: 40px;
    height: 20px;
}
.art
{  
    display: flex;
    margin-left: 177px;
  
    
}
.template2
{
    position: relative;
    top: -270px;
    left:0px;
    height:20%;
    text-overflow: hidden;
    width:  30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 10%;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    position: relative;
    padding: 37px;
    background-color:  #f7f7f7;
}
.left
{
    height:20%
}
.Image
{
    position: relative;
    left:-120px;
    width: fit-content;
}
.template3
{
    position: relative;
    top: -70px;
    left:0px;
    height:20%;
    text-overflow: hidden;
    width:  30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 10%;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    position: relative;
    padding: 37px;
    background-color:  #f7f7f7;
}
footer
{
    width: 100vw;
    height: 40vh;
    margin-bottom: 30px;
    padding: 35px;
    background-image: url("/images/stay-bg.png");
}
.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: rgb(5, 5, 110);

}
footer > p{

    font-style: italic;
    color: #000;
    font-size: larger;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.input-group {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .input {
    height: 7vh;
    width: 500px;
    padding: 0 1rem;
    margin-top: 30px;
    margin-left: 600px;
    margin-right: 30px;
    color: #fff;
    font-size: 15px;
    border: 1px solid #b5b4bd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #dad8e4;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button:hover {
    background-color: #747480;
    animation: button 3s ease-in-out 1 1;
    transform: rotate(54 deg) 3s ease-in-out 1 1;
    transform: translateX(12);
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }
  @keyframes button {
    from
    {

    }
    to
    {
        transform: rotate(54deg);
    }
    
  }
  