.Background
{
    background-image: url("Images/home-bg.png");
}
#Heading
{
    font-family:"Angeline_Vintage";
    color: azure;
    font-size: 75px;
}
.navBar
{
    display: flex;
    flex-direction: row;
}